<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/style_registro.css">
</head>
<body>
    <div class="contenedor">
        <div class="imagen-box">
            
        </div>
        <div class="registro-box">
            <h2 id="titulo">REGISTRO</h2>
            <form action="/register" method="POST">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" required>

                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required>

                <label for="pin">PIN:</label>
                <input type="text" id="pin" name="pin" required>

                <button type="submit">Registrarse</button>
            </form>
            <!-- Mostrar el mensaje de error si existe -->
            <div th:if="${error}" style="color:red; font-size: 1em;">
                <p th:text="${error}"></p>
            </div>
            <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión aquí</a></p>

        </div>
    </div>
</body>
</html>
